<h2>Please Sign-up</h2>
<form>
    <label for="user">UserName:</label><br>
  <input type="text" id="user" name="user"><br>
     <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass"><br>
  <input type="submit" value="Submit">
</form>